<h1 align="center">All Alpha Blogger</h1>
<div class="d-flex justify-content-center">
  <%= will_paginate @users %>
</div>
<div align="center">
  <% @users.each do |user| %>
    <ul class="listing">
      <div class="row">
        <div class="card text-dark bg-light mb-3 col-md-4 offset-md-4" style="max-width: 25rem; padding-left: 0; padding-right: 0;">
          <div class="card-body">
            <li><%=link_to gravatar_for(user), user_path(user) %></li>
            <li><%=link_to user.username, user_path(user) %></li>
            <li><small><%= pluralize(user.articles.count, "article") if user.articles %></small></li>
            <% if logged_in? && current_user.admin? %>
              <li><%= link_to 'Delete this User', user_path(user),
                              data: {turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete the user and all their articles?'}%></li>
            <% end %>
          </div>
        </div>
    </ul>
  <% end %>
</div>
<div class="d-flex justify-content-center">
  <%= will_paginate @users %>
</div>
